<div
  *ngIf="positions$ | async as positions; else loader"
>
  <table class="highlight" *ngIf="positions.length !== 0; else empty">
    <thead>
      <tr>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Количество</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let position of positions">
        <td>{{ position.name }}</td>
        <td>{{ position.cost }} руб.</td>
        <td>
          <div class="input-field inline order-position-input">
            <input
              type="number"
              min="1"
              [(ngModel)]="position.quantity"
            >
          </div>
        </td>
        <td>
          <button
            class="btn waves-effect wavers-light btn-small"
            (click)="addToOrder(position)"
          >
            Добавить
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <div class="center">
      Ни одной позиции не найдено
    </div>
  </ng-template>
</div>


<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
