<div class="page-title">
  <h4>История заказов</h4>
  <button
    (click)="isFilterVisible = !isFilterVisible"
    class="btn btn-small"
    [ngClass]="{
      'active': isFilterVisible,
      'red': !isEmptyFilter()
    }"
    data-tooltip="Открыть фильтр"
    data-position="left"
    #tooltip
  >
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter *ngIf="isFilterVisible" (onFilter)="applyFilter($event)"></app-history-filter>


<div *ngIf="!isReloading; else reloadingBlock">
  <div *ngIf="orders.length !== 0; else emptyOrders">
    <app-history-list [orders]="orders"></app-history-list>
    <div
      class="center mb2"
      *ngIf="!noMoreOrders"
    >
      <button
        class="btn waves-effect grey darken-1 btn-small"
        (click)="loadMore()"
        *ngIf="!isLoading; else loader"
      >
        Загрузить еще
      </button>

      <ng-template #loader>
        <app-loader></app-loader>
      </ng-template>
    </div>
  </div>
  <ng-template #emptyOrders>
    <div class="center">
      Заказов пока что нет
    </div>
  </ng-template>
</div>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>


