<div class="row">
  <div class="col s12">
    <div class="page-subtitle">
      <h4>Позиции:</h4>
      <button
        class="waves-effect waves-light btn grey darken-1 btn-small"
        (click)="onAddPosition()"
      >
        Добавить позицию
      </button>
    </div>

    <div *ngIf="!isLoading; else loader">
      <div
        class="collection"
        *ngIf="positions.length; else empty"
      >
        <a
          *ngFor="let position of positions"
          class="collection-item collection-item-icon"
          (click)="onSelectPosition(position)"
        >
          <span>
            {{ position.name }}
            <strong>{{ position.cost }} руб.</strong>
          </span>
          <span
            (click)="onDeletePosition($event, position)"
          >
            <i class="material-icons">delete</i>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">В этой категории ещё нет позиций</div>
      </ng-template>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div #modal class="modal">
    <div class="modal-content">
      <h4 class="mb1">Добавить позицию</h4>
      <div class="input-field">
        <input
          formControlName="name"
          id="pos-name"
          type="text"
          [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
        >
        <label for="pos-name">Название</label>
        <span class="helper-text red-text">
          <span
            *ngIf="form.get('name').invalid && form.get('name').touched"
          >
            Наименование позиции не может быть пустым
          </span>
        </span>
      </div>
      <div class="input-field">
        <input
          formControlName="cost"
          id="pos-cost"
          type="text"
          [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}"
        >
        <label for="pos-cost">Цена</label>
        <span class="helper-text red-text">
          <span
            *ngIf="form.get('cost').invalid && form.get('cost').touched"
          >
            Введите корректную цену. Минимальная цена 1
          </span>
        </span>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="modal-action waves-effect waves-black btn-flat"
        (click)="onCansel()"
        [disabled]="form.disabled"
      >
        Отмена
      </button>
      <button
        type="submit"
        class="btn waves-effect"
        [disabled]="form.invalid || form.disabled"
      >
        Сохранить
      </button>
    </div>
  </div>
</form>

